.header {
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 92px 50px 96px;
grid-template-rows: 104px;

}


html {

}
  
body {

}

h2 {
}




.header_logo {

}

.header_logo-image {
    width: 136.5px;
    height: 127px;
    margin-top: 5px;
    margin-left: 1px;

}

.header_menu {

}


.header_link-list {
display: flex;
gap: 30px;
list-style: circle;
}

.header_link-list_general {


}

.header_link-list_general_active {
 border-bottom: none;
 font-size: 18px;
}

.header_link-list_see_lots {
  border-bottom: 1px solid black;
  font-size: 18px;
  padding-left: 2px;
}

.header_link-list_see_lots_inactive {

}

.header_link-list_about {
 border-bottom: 1px solid black;
 font-size: 18px;
 padding-left: 5px;
}

.header_link-list_about_inactive {

}

.address-block_header {
display: flex;
align-items: flex-start;
flex-direction: column;
justify-self: end;
font-size: 18px;
line-height: 24px;
font-style: normal;
width: 240px;
text-underline-offset: 3px;
}

.address-block_header a {
 
}



.cover {
  Width: 1100px;
  Height: 757px;
  text-align: center;
  background-color: #eee;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;


}

.cover-image {

}

.overlay {
  Width: 100%;
  Height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3 {
  color: #eee;
  font-size: 100px;
}

.description {

   color: #eee;

}


.lots {

}

.lots_heading {

}

.card_list-item {

}

.card-link {
  
}

.card lot_film {
  

background-image: url(../images/card-lot-01.jpg);




}

overlay {

}

.card_title {

}

.card_text {

}

.card_list-item {

}

.card-link {

}

.card lot_book {

}
                
.card lot_picture {

}
                
.about {

}

.about_column {

}

.column {

}

.about_text {

}

.footer {

}
      
