.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 104px;
  align-items: center;
  padding: 92px 46px 97px;
}

.header_logo-image {
  width: 136.5px;
  height: 127px;
  margin-top: 5px;
  margin-left: 1px;
}

.header_link-list {
  display: flex;
  gap: 28px;
  margin-left: 4px;
  font-size: 18px;
  text-underline-offset: 4px;
  list-style: circle;
  cursor: pointer;
}

.header_link-list_menu {
  margin-top: 2px;
}

.header_link-list_general {
  list-style: none;
}

.header_link-list_menu-active {
  text-decoration: none;
}

.header_link-list_menu-inactive {
  padding-left: 5px;
}

.address {
  justify-self: end;
  width: 244px;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  text-align: center;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.title-group {
  position: relative;
  display: grid;
  grid-template-columns: 35px 346px 283px 88px;
  grid-template-rows: 164px 135px 135px 135px;
  height: 657px;
}

.base-text {
  color: #eee;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.base-text:nth-child(1) {
  grid-column: 2;
  grid-row: 2;
}

.base-text:nth-child(2) {
  grid-column: 3;
  grid-row: 3;
}

.base-text:nth-child(3) {
  grid-column: 4;
  grid-row: 4;
}

.cover-description {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 107px;
  padding: 0px 50px 50px 50px;
  color: #eee;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.4px;
  white-space: nowrap;
}

.cover-description-button {
  width: 256px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.lots {
  margin: 0;
  padding: 181px 24px 155px;
  list-style: none;
}

.lots_heading {
  padding: 0px 40px 26px;
  font-size: 40px;
  text-transform: uppercase;
}

article {
  height: 100%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card_list-item {
  position: relative;
  width: 334px;
  min-height: 450px;
  color: #fff;
}

.card-link {
  text-decoration: none;
}

.card--film {
  background-image: url(../images/card-lot-01.jpg);
}

.card--book {
  background-image: url(../images/card-lot-02.jpg);
}

.card--picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  z-index: 2;
  padding: 48px 41px 0px 40px;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card_text {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 10px 40px 48px 40px;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}

.view_more {
  display: block;
  margin-left: 40px;
  padding-top: 30px;
  color: black;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-areas:
    "about__logo about__title"
    ". about__text";
  column-gap: 25px;
  padding-left: 24px;
}

.about__logo {
  display: flex;
  grid-area: about__logo;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: about__title;
  align-self: center;
  margin-top: 8px;
  font-size: 39px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.about__text {
  grid-area: about__text;
  margin-top: 7px;
  font-size: 20px;
  line-height: 24px;
}

.about__text p {
  margin-bottom: 25px;
}

.about__text p:nth-child(1) {
  width: 688px;
}

.about__text p:nth-child(2) {
  width: 693px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 104px;
  gap: 101px;
  padding: 179px 25px 78px;
}

.footer__link-list {
  padding-top: 1px;
  text-align: center;
  list-style: none;
}

.footer__link-list_menu-active {
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.footer__link-list_menu-inactive {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.address-block_header {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  margin-top: 2px;
  margin-left: 17px;
}

.footer__social-icon {
  display: flex;
  gap: 30px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.address_footer {
  margin-right: 13px;
  line-height: 25px;
}